.navbar{
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(196, 203, 214, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    .navbar-brand{
        font-size: 1.5rem;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        margin-right: 1rem;
        max-width: 10rem;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .navbar-right{
// margin-left: auto;

    }
}